* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f1f1f1;
  font-size: 14px;
}
#content {
  width: 100%;
  background: #f1f1f1;
  padding: 3% 10%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
button {
  background-color: #112844ff !important;
  color: white !important;
  padding: 12px 16px !important;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.8px;
}
.btn-red {
  background-color: rgb(136, 35, 35) !important;
  margin-right: 2em!important;
  padding: 12px 16px !important;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #112844ff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.8px;
}
.btn-primary {
  background-color: transparent !important;
  color: black !important;
  padding: 12px 16px !important;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #112844ff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.8px;
}
.btn-secondary {
  background-color: #112844ff !important;
  color: white !important;
  padding: 12px 16px !important;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.8px;
}

.ul {
}
.a {
  text-decoration: none;
  color: #222;
  margin: 20px;
}

.li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
li:hover {
  color: #eb5424;
  background-color: #f1f1f1;
}

.main {
  width: 100%;
  height: 100vh;
  margin: 3em;
  padding: 0 20%;
}
/* Make td center vertically */
td {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border-bottom-width: 0 !important;
}

th {
  text-align: center;
  vertical-align: middle;
  font-size: 1.1rem;
  font-weight: 900;
  border-style: none !important;
}
.thRow {
  background: rgba(252, 250, 250, 0) !important;
  box-shadow: none !important;
}

.table {
  margin-top: 2rem;
  border: none;
  padding: 1em 1em;
}
/* Make a gap in table */
table {
  table-layout: fixed;
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 0.7em;
}

tr:nth-child(1) {
  border: 2px solid rgb(12, 12, 12) !important;
}
tr:nth-child(2) {
  border: 2px solid rgb(12, 12, 12) !important;
}

/* Make tr with border and box shadow except first tr */
tr {
  height: 72px;
  min-height: 72px;
  max-height: 72px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
    rgb(27 31 35 / 15%) 0px 0px 0px 1px !important;
}
input {
  font-size: 16px;
  line-height: 20px;
  padding: 6px 12px;
  width: 20%;
  min-height: 40px;
  height: 40px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: none !important;
}
button#singleCar {
  margin-left: 1em !important;
}
#id {
  font-size: 1rem;
  font-weight: 900;
}
#brand {
  font-size: 1rem;
  font-weight: 900;
}
#model {
  font-size: 1rem;
  font-weight: 900;
}
#bestDiscount {
  font-size: 1rem;
  font-weight: 900;
}
#pricePrDay {
  font-size: 1rem;
  font-weight: 900;
}

p#id:before {
  content: "ID: ";
  font-weight: 300;
  font-size: 1rem;
}
p#brand:before {
  content: "Brand: ";
  font-weight: 300;
  font-size: 1rem;
}
p#model:before {
  content: "Model: ";
  font-weight: 300;
  font-size: 1rem;
}
p#bestDiscount:before {
  content: "Best Discount: ";
  font-weight: 300;
  font-size: 1rem;
}
p#pricePrDay:before {
  content: "Price pr. day: ";
  font-weight: 300;
  font-size: 1rem;
}
#if1,
#if2,
#if3,
#if4,
#if5,
#if6,
#if7,
#if8,
#if9
 {
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #222;
}
.multi-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.input-big {
  font-size: 16px;
  line-height: 20px;
  padding: 6px 12px;
  width: 100%;
  min-height: 40px;
  height: 40px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: none !important;
}
